{% extends 'base.html.twig' %}

{% block title %}New Taxe{% endblock %}

{% block content %}
    <h1>Create new Taxe</h1>

    {{ include('front/taxe/_form.html.twig') }}

    <a href="{{ path('taxe_index') }}">back to list</a>
{% endblock %}
