@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import '~admin-lte/build/scss/AdminLTE';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~select2/dist/css/select2.min.css';
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/mixins/box-shadow";
@import "~bootstrap/scss/mixins/border-radius";

@import '~admin-lte/build/scss/mixins/backgrounds';

@import '~intro.js/introjs.css';

.delete-button-form {
  display: inline;
}

.pointer {
  cursor: pointer;
}

label {
  &.required {
    &::after {
      content: "*";
      color: #ff0000;
    }
  }
}

#addition {
  hr {
    margin: {
      top: 2px;
      bottom: 2px;
    }
  }

  .ligne {
    &:last-child {
      span {
        color: #388c00;
        font-size: 16px !important;
      }
    }

    &.total {
      span:first-child {
        font-style: normal;
        font-weight: bold;
      }

      span:last-child {
        padding-right: 0;
      }
    }

    span {
      padding-left: 15px;
      font-size: 10px;
    }

    span:first-child {
      font-style: italic;
      padding-left: 0;
      //font-weight:bold;
      font-size: 14px;
    }

    span:last-child {
      padding-left: 0;
      padding-right: 70px;
      float: right;
      font-size: 14px;

      b {
        small {
          font-weight: 700 !important;
        }
      }
    }
  }
}

div.img-circle {
  width: 90px;
  height: 90px;
  line-height: 120px;
  background: #ffffff;
}
.widget-user .card-footer {
  padding-top: 25px;
  .description-text{
    text-transform: none;

  }
}
.btn-square{
  border-radius: 0;
}
//.introjs-helperLayer{
//  background:transparent!important;;
//}