{% extends 'base.html.twig' %}

{% block title %}Edit Component{% endblock %}

{% block content %}
    <h1></h1>

    {{ include('front/component/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
